body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 10%;
  font-size: 20px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dragon-avatar-img-wrapper{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-img-pattern{
  position: absolute;
}
.avatar-background{
  position: absolute;
}
.avatar-img{
  z-index: 0;
  position: absolute;
}
.logout-button{
  position: absolute;
  right: 30px;
  top: 30px; 
}
.account-dragon-row{
  width: 90px;
  height: 20px;
  margin-right: 15px;
}